/*
 Theme Name:   Aronnax Labs Theme
 Template:     twentytwentyfive
 Author:       Aronnax Labs
 Author URI:   https://aronnaxlabs.com
 Description:  A custom child theme for Aronnax Labs based on Twenty Twenty-Five.
 Version:      1.0.0
*/
